<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livich.unity_installreferrer">

    <application
        android:allowBackup="true">
        <receiver
            android:name="com.livich.unity_installreferrer.ReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
